@using com.paralib
@using com.paralib.reference.mvc.Models
@model Hello

@{ 
    HttpContext.Current.Session["foo"] = 0;
}

Config=@(System.IO.Path.GetDirectoryName(AppDomain.CurrentDomain.SetupInformation.ConfigurationFile)) <br />
Paralib.Connection= @(Paralib.Configuration.Connection) <br />
Paralib.ConnectionString= @(Paralib.Configuration.ConnectionString) <br />
Paralib.Dal.Connection= @(Paralib.Configuration.Dal.Connection) <br />
Paralib.Dal.ConnectionString= @(Paralib.Configuration.Dal.ConnectionString) <br />
Logging= @(Paralib.Configuration.Logging.Enabled) <br />
Test= @(Paralib.Configuration.AppSettings["test"]) <br />

    <div style="border-style: solid; border-width: 1px;">
        @Model.Message
    </div>

<hr />

@foreach (var m in HttpContext.Current.ApplicationInstance.Modules.AllKeys)
{
    @(m + " - " + HttpContext.Current.ApplicationInstance.Modules[m].GetType().FullName )
    <br/>
}

<hr />

Dal.Connection=@Paralib.Configuration.Dal.Connection<br />
Dal.ConnectionString=@Paralib.Configuration.Dal.ConnectionString<br />

<hr />

System.Security.Principal.WindowsIdentity.GetCurrent().Name = @System.Security.Principal.WindowsIdentity.GetCurrent().Name <br />
Request.LogonUserIdentity.Name = @Request.LogonUserIdentity.Name [ @Request.LogonUserIdentity.AuthenticationType ] <br />
Request.IsAuthenticated = @Request.IsAuthenticated <br />
System.Threading.Thread.CurrentPrincipal.Identity.Name = @System.Threading.Thread.CurrentPrincipal.Identity.Name [@System.Threading.Thread.CurrentPrincipal.GetType().Name] <br />
Context.User.Identity.Name = @Context.User.Identity.Name [@Context.User.GetType().Name] <br />


<hr />

@{

    string foo = "hi";


    //string x = null;
    //x.ToString();

}

@($"this is foo: {foo}")



<hr />

@foreach (var a in AppDomain.CurrentDomain.GetAssemblies())
{
    @(a.FullName + " - " + "[" +a.GlobalAssemblyCache +"]")
    <br />
}


<hr />

@foreach (var m in HttpContext.Current.ApplicationInstance.Modules.AllKeys)
{
    @(m + " - " + HttpContext.Current.ApplicationInstance.Modules[m].GetType().FullName )
    <br />
}


